nav{
  background-color: black;
  box-shadow: 0 0 0 #000;
}

.cor_menu {
  color: #6E6633 ;
}

#imagem_logo {
  margin-top: 0.3em;
  margin-left: 1em;
  width: 120px;
  height: 45px;
}

.titulo{
  margin-left: 5%;
  color: #4C0507;
}

.indic_p{
  width: 100%;
  height: auto;
  background-color: #4C0507;
}

.indic_p img{
  margin-top: 4%;
 width: 55%;
 border-radius: 200px;
 -o-border-radius: 200px;
 -ms-border-radius: 200px;
 -moz-border-radius: 200px;
 -webkit-border-radius: 200px;
 border: 3px solid white;

}

.cor_cat{
  color: white;
  margin-left: 5%;
  margin-top: 2%;
}

.cor_nomes{
  color: white;
}
