nav {
  background-color: black;
  box-shadow: 0 0 0 #000;
}

.cor_menu {
  color: #6E6633 ;
}

#imagem_logo {
  margin-top: 0.3em;
  margin-left: 1em;
  width: 120px;
  height: 45px;
}


#map{
  margin-top: 5%;
  margin-left: 20%;
 width: 450px;
 height: 250px;
}

#imagem_ufla{
  width: 355px;
  height: 123px;
  margin-top: 10%;
  margin-left: 20%;
}

#imagem_comp{
  width: 372px;
  height: 90px;
  margin-top: 5%;
  margin-left: 20%;
}

.cor_footer{
  background: black;
  height: 120px;
}
