<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>OSCAR COMP</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./assets/materialize/css/materialize.min.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="./assets/css/cadastro.css" />
</head>
<body>
  <header class="slidetext-center home text-center" data-anchor="firstPage" id="home">
    <nav class="navbar-fixed">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">
        <img src="./assets/img/logo-menu.png"  id="imagem_logo"  ></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html#evento" class="cor_menu">O Evento</a></li>
          <li><a href="#index.html/apresentacoes" class="cor_menu">Apresentadores</a></li>
          <li><a href="#index.html/patrocinadores" class="cor_menu">Patrocinadores</a></li>
          <li><a href="index.html/#categorias" class="cor_menu">Categorias</a></li>
          <li><a href="#login" class="cor_menu">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section id="cadastro" class="slide cadastro_p row">
    <h3 class="center-align">Insira seus dados pessoais</h3>
    <div class="container margin-top2">
      <div class="row teste">
        <form class="col s12">

          <div class="row">
            <div class="input-field col s12 m6">
              <input id="nome" name="nome" type="text" />
              <label for="nome">Nome</label>
            </div>

            <div class="input-field col s12 m6">
              <input id="sobrenome" name="sobrenome" type="text" />
              <label for="sobrenome">Sobrenome</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6 m3">
              <input id="nascimento" name="nascimento" type="text" class="datepicker" placeholder="dd/mm/yyyy" />
              <label for="nascimento">Nascimento</label>
            </div>

            <div class="input-field col s6 m3">
              <select id="genero" name="genero">
                <option value="" disabled selected>Selecione um gênero</option>
                <option value="0">Masculino</option>
                <option value="1">Feminino</option>
                <option value="2">Outros</option>
              </select>
              <label for="genero">Gênero</label>
            </div>

            <div class="input-field col s6 m3">
              <input id="rg" name="rg" type="text" />
              <label for="rg">RG</label>
            </div>

            <div class="input-field col s6 m3">
              <input id="cpf" name="cpf" type="text" placeholder="000.000.000-00" />
              <label for="cpf">CPF</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s9 m5">
              <input id="rua" name="rua" type="text" />
              <label for="rua">Logradouro</label>
            </div>

            <div class="input-field col s3 m1">
              <input id="numero" name="numero" type="text" />
              <label for="numero">Número</label>
            </div>

            <div class="input-field col s12 m3">
              <input id="cidade" name="cidade" type="text" />
              <label for="cidade">Cidade</label>
            </div>

            <div class="input-field col s9 m2">
              <input id="cep" name="cep" type="text" placeholder="00000-000" />
              <label for="cep">CEP</label>
            </div>

            <div class="input-field col s3 m1">
              <!-- <select id="uf" name="uf">
                <option value="" disabled selected></option>
                <option value="">MG</option>
                <option value="">SP</option>
                <option value="">RJ</option>
              </select> -->
              <input id="uf" name="uf" type="text" class="autocomplete" />
              <label for="uf">UF</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s2 m1">
              <input id="ddd" name="ddd" type="text" placeholder="00" />
              <label for="ddd">DD</label>
            </div>

            <div class="input-field col s10 m5">
              <input id="telefone" name="telefone" type="text" />
              <label for="telefone">Telefone</label>
            </div>

            <div class="input-field col s12 m6">
              <input id="email" type="email" class="validade" />
              <label for="email">Email</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12 m6">
              <input id="senha" name="senha" type="password" />
              <label for="senha">Senha</label>
            </div>

            <div class="input-field col s12 m6">
              <input id="senha_confirmacao" name="senha_confirmacao" type="password" />
              <label for="senha_confirmacao">Confirmação da senha</label>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="input-field col s6 right-align">
            <button class="waves-effect waves-light btn">Cancelar</button>
          </div>

          <div class="input-field col s6">
            <button class="waves-effect waves-light btn">Concluir</button>
          </div>
        </div>

      </div>


    </div>
  </section>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>
  <script type="text/javascript" src="./assets/materialize/js/materialize.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#cpf').mask('000.000.000-00', {reverse: true});
      $('#cep').mask('00000-000');
      $('#ddd').mask('00');
      $('#telefone').mask('00000-0000')

      $('input.autocomplete').autocomplete({
        data: {
          "MG": null,
          "SP": null
        },
        minLength: 1
      });

      $('select').material_select();

      $('.datepicker').pickadate({
        selectMonths: true,
        today: "Hoje",
        clear: "Limpar",
        close: "Fechar",
        closeOnSelect: false,
        monthsFull: [
          'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
          'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro' , 'Dezembro'
        ],
        monthsShort: [
          'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
          'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'
        ],
        weekdaysFull: [
          'Domingo', 'Segunda-Feira', 'Terca-Feira', 'Quarta-Feira',
          'Quinta-Feira', 'Sexta-Feira', 'Sabado'
        ],
        weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
        weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
        format: 'dd/mm/yyyy'
      });
    });
  </script>
</body>
</html>
