<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>OSCAR COMP</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./assets/materialize/css/materialize.min.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="./assets/css/cadastro.css" />
</head>
<body>
  <header class="slidetext-center home text-center" data-anchor="firstPage" id="home">
    <nav class="navbar-fixed">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">
        <img src="./assets/img/logo-menu.png"  id="imagem_logo"  ></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#home" class="cor_menu">Home</a></li>
          <li><a href="#evento" class="cor_menu">O Evento</a></li>
          <li><a href="#apresentacoes" class="cor_menu">Apresentações</a></li>
          <li><a href="#patrocinadores" class="cor_menu">Patrocinadores</a></li>
          <li><a href="#login" class="cor_menu">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section id="cadastro" class="slide cadastro_p row">
    <h3 class="center-align">Insira seus dados pessoais</h3>
    <div class="container margin-top2">
      <div class="row teste">
        <form class="col s12">

          <div class="input-field col s12 m6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Nome</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Sobrenome</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Nascimento</label>
          </div>

          <div class="input-field col s12 m6">
            <select>
              <option>Selecione um gênero</option>
              <option value="0">Masculino</option>
              <option value="1">Feminino</option>
              <option value="2">Outros</option>
            </select>
            <label>Gênero</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">RG</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">CPF</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Telefone</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Email</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Estado</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Cidade</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Cep</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Endereço</label>
          </div>
        </form>

        <div class="input-field col s12 m6 right-align">
          <button class="waves-effect waves-light btn">Cancelar</button>
        </div>

        <div class="input-field col s12 m6">
          <button class="waves-effect waves-light btn">Concluir</button>
        </div>

      </div>


    </div>
  </section>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/materialize/js/materialize.min.js"></script>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
</body>
</html>
