<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OSCAR COMP</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./assets/materialize/css/materialize.min.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="./assets/css/index.css" />
</head>
<body>
  <header class="navbar-fixed slidetext-center home text-center" data-anchor="firstPage" id="home">

    <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="editar.html">Editar</a></li>
        <li><a href="#" id="sair">Sair</a></li>
      </ul>

      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#palestrantes2">Palestrantes</a></li>
        <li><a href="#organizadores2">Organizadores</a></li>
        <li><a href="#local2">Patrocinadores</a></li>
        <li><a href="#local2">Localização</a></li>
    </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            <img src="./assets/img/logo-menu.png"  id="imagem_logo" />
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#evento" class="cor_menu">O Evento</a></li>
            <li><a class="dropdown-button cor_menu" href="#!" data-activates="dropdown1">Mais Infos<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a id="logado" class="dropdown-button cor_menu" href="#!" data-activates="dropdown2">Nome de usuario (Teste)<i class="material-icons right">arrow_drop_down</i></a></li>
         </ul>
        </div>
      </nav>



      <div class="logo1 row-fluid center-align">
        <img src="./assets/img/logo.png" class="t_logo">
      </div>

      <div class="miniatura row-fluid center-align">
        <a href="#evento"><img src="./assets/img/oscar.png" class="t_mini"></a>
      </div>
    </header>



    <section id="evento" class="slide Evento_p row" data-anchor="firstPage">
      <div class="row fundo_tema"  style="padding-top: 5em;">
        <div class="col s12 m7 offset-m1" id="#descricao">
          <h4 class="center-align white-text text-lighten-4" style="padding-bottom: 0.5em;">Oscar CompJúnior</h4>
          <p class="center-align white-text text-lighten-4 flow-text" style="padding-bottom: 2.5em;">
            A maior premiação de membros trainees de EJ’s do sul de Minas! De tudo um pouco, além de alegria esse Oscar tem emoção. Registre-se para espiar as categorias, garanta seu lugar nas cadeiras da apresentação.</p>
            <h6 class="white-text"><strong>Data: 06 de fevereiro de 2018</h6>
            <a href="#local2"><h6 class="white-text">Local: Anfiteatro do DCC UFLA</h6></strong></a>
        </div>

        <div class="col s10 m3 offset-m1 center-align">
          <img src="./assets/img/oscar_modal.png" class="responsive-img" />
        </div>
      </div>

      <div style="padding-top: 0.5em;">
        <div>
          <h4 class="center-align texto_tema" style="padding-bottom: 0.5em;">Confira as categorias</h4>

          <div class="container">
            <div class="row">
              <div class="col s6 m3 offset-m1 card">
                  <a id="cat1" > <img  class="responsive-img img_categorias foto" id="teste_hover" src="./assets/img/sorriso.jpg"
                    onMouseOver="this.src='./assets/img/sorriso3.jpg'"
                    onMouseOut="this.src='./assets/img/sorriso.jpg'" /></a>
                  <p class="center-align">Sorriso, ahhh</p>
                </div>

                <div class="col s6 m3 offset-m1 card">
                    <a id="cat2" > <img  class="responsive-img img_categorias foto" id="teste_hover" src="./assets/img/abraco.jpg"
                      onMouseOver="this.src='./assets/img/abraco3.jpg'"
                      onMouseOut="this.src='./assets/img/abraco.jpg'" /></a>
                    <p class="center-align">Abraço de bispo</p>
                  </div>

                <div class="col s6 m3 offset-m1 card">
                    <a id="cat3" > <img  class="responsive-img img_categorias foto" id="teste_hover" src="./assets/img/culaxa.jpg"
                      onMouseOver="this.src='./assets/img/culaxa3.jpg'"
                      onMouseOut="this.src='./assets/img/culaxa.jpg'" /></a>
                    <p class="center-align">Miss Culaxa</p>
                  </div>

                <div class="col s6 m3 offset-m1 card">
                    <a id="cat4" > <img  class="responsive-img img_categorias foto" id="teste_hover" src="./assets/img/rei2.jpg"
                      onMouseOver="this.src='./assets/img/rei23.jpg'"
                      onMouseOut="this.src='./assets/img/rei2.jpg'" /></a>
                    <p class="center-align">Rei Delas</p>
                  </div>

                <div class="col s6 m3 offset-m1 card">
                    <a id="cat5" > <img  class="responsive-img img_categorias foto" id="teste_hover" src="./assets/img/role.jpg"
                      onMouseOver="this.src='./assets/img/role3.jpg'"
                      onMouseOut="this.src='./assets/img/role.jpg'" /></a>
                    <p class="center-align">Deus abençoe o rolê</p>
                  </div>

                <div class="col s6 m3 offset-m1 card">
                    <a id="cat6" > <img  class="responsive-img img_categorias foto" id="teste_hover" src="./assets/img/gentileza.jpg"
                      onMouseOver="this.src='./assets/img/gentileza3.jpg'"
                      onMouseOut="this.src='./assets/img/gentileza.jpg'" /></a>
                    <p class="center-align">Super Gentileza</p>
                  </div>


              </div>
            </div>
          </div>

        </div>
      </div>

    </section>

  <!-- PALESTRANTES -->
  <div class="retangulo" id="palestrantes2" />

      <h4 class="alinhar  text-lighten-4">
        <strong>Palestrantes</strong>
      </h4>

    <section id="palestrantes" class="slide palest_p">

      <div class="container">
      <div class="row">

        <div class="col s12 m4 ">
          <div class="center-align">
            <img src="./assets/img/karol.jpg" id="oo" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
          </div>
            <h5 class="cor_nomes center-align"><strong>Karoline</h5>
          </div>

          <div class="col s12 m4 ">
            <div class="center-align">
            <img src="./assets/img/gabriel.jpeg" class="img- responsive img-circle " alt="Foto de Perfil"/>
          </div>
            <h5 class="cor_nomes center-align"><strong>Gabriel</h5>
          </div>

          <div class="col s12 m4 ">
            <div class="center-align">
            <img src="./assets/img/brendex.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
          </div>
            <h5 class=" cor_nomes center-align"><strong>Breno</h5></strong>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m4 ">
            <div class="center-align">
            <img src="./assets/img/krusty.jpeg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
          </div>
            <h5 class=" cor_nomes center-align"><strong>Leonardo</strong></h5>
          </div>

          <div class="col s12 m4 ">
            <div class="center-align">
            <img src="./assets/img/alice.jpeg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
          </div>
            <h5 class=" cor_nomes center-align"><strong>Alice</h5></strong>
          </div>

          <div class="col s12 m4 ">
            <div class="center-align">
            <img src="./assets/img/danilo.jpeg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
          </div>
            <h5 class=" cor_nomes center-align"><strong>Danilo</h5></strong>
          </div>
        </div>

      </div>

    </section>

    <!-- ORGANIZADORES -->
    <div class="retangulo" id="organizadores2" />

    <h4 class="alinhar  text-lighten-4">
      <strong>Organizadores</strong>
    </h4>

    <section id="organizadores" class="slide organ_p">

      <div class="row">
        <div class="col s12 m4">
          <img src="./assets/img/bruna.jpeg" id="oo" class="img- responsive img-circle" alt="Foto de Perfil"/>
          <h5 class="center-align cor_nomes"><strong>Bruna</h5>
        </div>

        <div class="col s12 m4 posicao">
          <img src="./assets/img/caio.jpg" class="img- responsive img-circle " alt="Foto de Perfil"/>
          <h5 class="center-align cor_nomes"><strong>Caio</h5>
        </div>

        <div class="col s12 m4">
          <img src="./assets/img/rennan2.jpeg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
          <h5 class="center-align cor_nomes"><strong>Rennan</h5></strong>
        </div>

      </div>
    </section>

    <!-- patrocinadores/local -->
    <div class="retangulo" id="local2" />

    <section id="local" class="slide local_id row">
      <div class="row">
        <div class="col s6 text-center">
          <h3 class="center-align">Localização</h3>
          <iframe class="center-align" id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.100399109883!2d-44.980737685063964!3d-21.227866985890888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9ffdde831d710d%3A0x49bf82e78ef962c7!2sDepartamento+de+Ci%C3%AAncia+da+Computa%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1517504299497" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <p class="center-align"><strong>Departamento de Ciência da Computação</p>
          <p class="center-align">Universidade Federal de Lavras</p></strong>
        </div>

        <div class="col s6">
          <h3 class="center-align">Patrocinadores</h3>
          <img src="./assets/img/logo-comp.png" id="imagem_comp">
          <img src="./assets/img/logo-ufla.jpg" id="imagem_ufla">
        </div>
      </div>
    </section>

    <footer class="page-footer cor_footer">
     <div class="container">
       <div class="row">
         <div class="col l6 s12">
          <a href="#"><img class="img_footer" src="./assets/img/oscar_modal.png"/></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </div>

    <!-- modal indicados -->
    <div id="modal_cat1" class="modal indic_p">
    <div class="row" id="modal_cat1_row">
      <div class="col s12" id="modal_cat1_esq" style="background-color: #4C0507;">
        <h4 class="cor_cat"><strong>Sorriso, ahhh</h4></strong>
        <div class="row">

          <div class="col s12 m4 ">
            <div class="center-align">
              <img src="./assets/img/leonardo.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Leonardo</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/victor.jpg" class="img- responsive img-circle " alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Victor</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/neve.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
            </div>
              <h5 class=" cor_nomes center-align"><strong>Neve</h5></strong>
            </div>
          </div>
            </div>
      </div>
    </div>

    <div id="modal_cat2" class="modal indic_p">
    <div class="row" id="modal_cat2_row">
      <div class="col s12" id="modal_cat2_esq" style="background-color: #4C0507;">
        <h4 class="cor_cat"><strong>Abraço de bispo</h4></strong>
        <div class="row">

          <div class="col s12 m4 ">
            <div class="center-align">
              <img src="./assets/img/ribolive.jpeg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Gabriel</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/jean.jpg" class="img- responsive img-circle " alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Jean</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/silveira.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
            </div>
              <h5 class=" cor_nomes center-align"><strong>Pedro S.</h5></strong>
            </div>
          </div>
            </div>
      </div>
    </div>

    <div id="modal_cat3" class="modal indic_p">
    <div class="row" id="modal_cat3_row">
      <div class="col s12" id="modal_cat3_esq" style="background-color: #4C0507;">
        <h4 class="cor_cat"><strong>Miss Culaxa</h4></strong>
        <div class="row">

          <div class="col s12 m4 ">
            <div class="center-align">
              <img src="./assets/img/well.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Wellington</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/bruno.jpg" class="img- responsive img-circle " alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Bruno</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/felipe.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
            </div>
              <h5 class=" cor_nomes center-align"><strong>Felipe</h5></strong>
            </div>
          </div>
            </div>
      </div>
    </div>

    <div id="modal_cat4" class="modal indic_p">
    <div class="row" id="modal_cat4_row">
      <div class="col s12" id="modal_cat4_esq" style="background-color: #4C0507;">
        <h4 class="cor_cat"><strong>Rei delas</h4></strong>
        <div class="row">

          <div class="col s12 m4 ">
            <div class="center-align">
              <img src="./assets/img/gustavoR.jpeg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Gustavo Reis</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/chokito.jpg" class="img- responsive img-circle " alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>João</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/gustavoCosta.jpeg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
            </div>
              <h5 class=" cor_nomes center-align"><strong>Gustavo Costa</h5></strong>
            </div>
          </div>
            </div>
      </div>
    </div>

    <div id="modal_cat5" class="modal indic_p">
    <div class="row" id="modal_cat5_row">
      <div class="col s12" id="modal_cat5_esq" style="background-color: #4C0507;">
        <h4 class="cor_cat"><strong>Deus abençoe o rolê</h4></strong>
        <div class="row">

          <div class="col s12 m4 ">
            <div class="center-align">
              <img src="./assets/img/gabi.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Gabriela</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/kiesa2.jpeg" class="img- responsive img-circle " alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Felipe S.</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/marcot.jpeg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
            </div>
              <h5 class=" cor_nomes center-align"><strong>Marco Tulio</h5></strong>
            </div>
          </div>
            </div>
      </div>
    </div>

    <div id="modal_cat6" class="modal indic_p">
    <div class="row" id="modal_cat6_row">
      <div class="col s12" id="modal_cat6_esq" style="background-color: #4C0507;">
        <h4 class="cor_cat"><strong>Super gentileza</h4></strong>
        <div class="row">

            <div class="col s12 m4 ">
              <div class="center-align">
                <img src="./assets/img/ueslei.jpeg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
              </div>
                <h5 class="cor_nomes center-align"><strong>Ueslei</h5>
              </div>

              <div class="col s12 m4 ">
                <div class="center-align">
                <img src="./assets/img/raul.jpg" class="img- responsive img-circle " alt="Foto de Perfil"/>
              </div>
                <h5 class="cor_nomes center-align"><strong>Raul</h5>
              </div>

              <div class="col s12 m4 ">
                <div class="center-align">
                <img src="./assets/img/Lui.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
              </div>
                <h5 class=" cor_nomes center-align"><strong>Lui</h5></strong>
              </div>
          </div>
            </div>
      </div>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="./assets/js/index.js"></script>
  <script type="text/javascript" src="./assets/js/funcBarra.js"></script>
  <script type="text/javascript" src="./assets/js/indLog.js"></script>
  <script type="text/javascript" src="./assets/js/usuarioLogado.js"></script>
  <script type="text/javascript" src="./assets/js/logout.js"></script>
</body>
</html>