<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OSCAR COMP</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./assets/materialize/css/materialize.min.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="./assets/css/indic.css" />
</head>
<body>
  <header class="navbar-fixed slidetext-center home text-center" data-anchor="firstPage" id="home">

    <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="editar.html">Editar</a></li>
        <li><a href="#!">Sair</a></li>
      </ul>

      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#palestrantes2">Palestrantes</a></li>
        <li><a href="#organizadores2">Organizadores</a></li>
        <li><a href="#local2">Patrocinadores</a></li>
        <li><a href="#local2">Localização</a></li>
    </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            <img src="./assets/img/logo-menu.png"  id="imagem_logo" />
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#evento" class="cor_menu">O Evento</a></li>
            <li><a class="dropdown-button cor_menu" href="#!" data-activates="dropdown1">Mais Infos<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a id="logado" class="dropdown-button cor_menu" href="#!" data-activates="dropdown2">Nome de usuario (Teste)<i class="material-icons right">arrow_drop_down</i></a></li>
         </ul>
        </div>
      </nav>
    </header>

      <h4 class="titulo"><strong>Indicados ao Oscar CompJúnior</h4></strong>

      <section id="indicados" class="indic_p">

        <h4 class="cor_cat"><strong>Categoria 1</h4></strong>
        <div class="row">

          <div class="col s12 m4 ">
            <div class="center-align">
              <img src="./assets/img/karol.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Karoline</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/gabriel.jpeg" class="img- responsive img-circle " alt="Foto de Perfil"/>
            </div>
              <h5 class="cor_nomes center-align"><strong>Gabriel</h5>
            </div>

            <div class="col s12 m4 ">
              <div class="center-align">
              <img src="./assets/img/brendex.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
            </div>
              <h5 class=" cor_nomes center-align"><strong>Breno</h5></strong>
            </div>
          </div>

          <h4 class="cor_cat"><strong>Categoria 2</h4></strong>
          <div class="row">

            <div class="col s12 m4 ">
              <div class="center-align">
                <img src="./assets/img/karol.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
              </div>
                <h5 class="cor_nomes center-align"><strong>Karoline</h5>
              </div>

              <div class="col s12 m4 ">
                <div class="center-align">
                <img src="./assets/img/gabriel.jpeg" class="img- responsive img-circle " alt="Foto de Perfil"/>
              </div>
                <h5 class="cor_nomes center-align"><strong>Gabriel</h5>
              </div>

              <div class="col s12 m4 ">
                <div class="center-align">
                <img src="./assets/img/brendex.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
              </div>
                <h5 class=" cor_nomes center-align"><strong>Breno</h5></strong>
              </div>
            </div>

            <h4 class="cor_cat"><strong>Categoria 3</h4></strong>
            <div class="row">

              <div class="col s12 m4 ">
                <div class="center-align">
                  <img src="./assets/img/karol.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
                </div>
                  <h5 class="cor_nomes center-align"><strong>Karoline</h5>
                </div>

                <div class="col s12 m4 ">
                  <div class="center-align">
                  <img src="./assets/img/gabriel.jpeg" class="img- responsive img-circle " alt="Foto de Perfil"/>
                </div>
                  <h5 class="cor_nomes center-align"><strong>Gabriel</h5>
                </div>

                <div class="col s12 m4 ">
                  <div class="center-align">
                  <img src="./assets/img/brendex.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
                </div>
                  <h5 class=" cor_nomes center-align"><strong>Breno</h5></strong>
                </div>
              </div>

              <h4 class="cor_cat"><strong>Categoria 4</h4></strong>
              <div class="row">

                <div class="col s12 m4 ">
                  <div class="center-align">
                    <img src="./assets/img/karol.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
                  </div>
                    <h5 class="cor_nomes center-align"><strong>Karoline</h5>
                  </div>

                  <div class="col s12 m4 ">
                    <div class="center-align">
                    <img src="./assets/img/gabriel.jpeg" class="img- responsive img-circle " alt="Foto de Perfil"/>
                  </div>
                    <h5 class="cor_nomes center-align"><strong>Gabriel</h5>
                  </div>

                  <div class="col s12 m4 ">
                    <div class="center-align">
                    <img src="./assets/img/brendex.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
                  </div>
                    <h5 class=" cor_nomes center-align"><strong>Breno</h5></strong>
                  </div>
                </div>

                <h4 class="cor_cat"><strong>Categoria 5</h4></strong>
                <div class="row">

                  <div class="col s12 m4 ">
                    <div class="center-align">
                      <img src="./assets/img/karol.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
                    </div>
                      <h5 class="cor_nomes center-align"><strong>Karoline</h5>
                    </div>

                    <div class="col s12 m4 ">
                      <div class="center-align">
                      <img src="./assets/img/gabriel.jpeg" class="img- responsive img-circle " alt="Foto de Perfil"/>
                    </div>
                      <h5 class="cor_nomes center-align"><strong>Gabriel</h5>
                    </div>

                    <div class="col s12 m4 ">
                      <div class="center-align">
                      <img src="./assets/img/brendex.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
                    </div>
                      <h5 class=" cor_nomes center-align"><strong>Breno</h5></strong>
                    </div>
                  </div>

                  <h4 class="cor_cat"><strong>Categoria 6</h4></strong>
                  <div class="row">

                    <div class="col s12 m4 ">
                      <div class="center-align">
                        <img src="./assets/img/karol.jpg" class="center-align img- responsive img-circle" alt="Foto de Perfil"/>
                      </div>
                        <h5 class="cor_nomes center-align"><strong>Karoline</h5>
                      </div>

                      <div class="col s12 m4 ">
                        <div class="center-align">
                        <img src="./assets/img/gabriel.jpeg" class="img- responsive img-circle " alt="Foto de Perfil"/>
                      </div>
                        <h5 class="cor_nomes center-align"><strong>Gabriel</h5>
                      </div>

                      <div class="col s12 m4 ">
                        <div class="center-align">
                        <img src="./assets/img/brendex.jpg" class="img- responsive img-circle posicao" alt="Foto de Perfil"/>
                      </div>
                        <h5 class=" cor_nomes center-align"><strong>Breno</h5></strong>
                      </div>
                    </div>

      </body>
      </html>
